*{
  margin: 0;
  border:0;
  padding:0;
  box-shadow: 0;
}

body{
  background-color: #353535;
  overflow-x: hidden;
}
.scroll,.whats,.insta{
  position: fixed;
  z-index: 10;
  bottom: 15px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.whats,.insta{
  left: 15px;
}
.scroll{
  right: 15px;
}
.insta{
  bottom:70px;
}
/* ESTILOS NAVBAR */
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  width: 100vw;
  height: 18vh;
  min-height: 100px;
}
.logo-navbar,#logo{
  width: 150px;
  height: 150px;
  margin-left: 3vw;
}
.bnt-navbar{
  display:block;
}
.bnt-navbar a{
  margin: 0 10px 0 10px;
  font-size: 30px;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid blue;
}
.bnt-navbar a:hover{
  color: #d9d9d9;
  border-bottom: 2px solid orange;
}
/* FIM ESTILOS NAVBAR */
/* ESTILOS BOTÃO MENU TELEFONE*/
.bnt-navbar-tell{
  width: 60vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  
}
.bnt-menu{
  width: 40px;
  height: 40px;
  display: none;
}
.bnt-navbar-tell a{
  font-size: 30px;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid blue;
  margin-top: 15px;
}
.bnt-navbar-tell button{
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  color: red;
  font-size: 20px;
  border: 1px solid red;
  text-align: center;
}
/* ESTILOS BOTÃO MENU TELEFONE*/
/* ESTILO HOME*/
.home{
  width: 100vw;

}
/* FIM ESTILO HOME*/
/* ESTILOS ABA EXEMPLOS */
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.img{
  width:30vw;
  min-width: 300px;
  height: 40vh;
  min-height: 100px;
  margin-bottom: 5vh;
  box-shadow: 2px 2px 5px blue;
}

#examples h1{
  text-align: center;
  color: white;
  font-size: 45px;
  margin: 5vh 0 5vh 0;
}
/* FIM ESTILOS ABA EXEMPLOS */
/* ESTILOS ABA SOBRE NÓS */
#about-us h1{
  text-align: center;
  color: white;
  font-size: 45px;
  margin: 5vh 0 7vh 0;
}
#about-us{
  height: 300vh;
}
.about-us{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  
}

.img-about{  
  width:25vw;
  min-width: 300px;
  height: 35vh;
  min-height: 100px;
  margin-bottom: 10vh;
}

.about-txt{
  width:35vw;
  min-width: 300px;
  height: 35vh;
  min-height: 100px;
  text-align: justify;
}
.txt-about{
  margin: 0 0 10vh 0;
}
.txt-about p{
  color: #d9c9c9;
}
/* FIM ESTILOS ABA SOBRE NÓS */

/* ESTILOS RODAPÉ */

#footer{
  position: relative;
  bottom: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100vw;
  height: 25vh;
  min-height: 150px;
}
#footer p{
  color: white;
  margin-bottom: 15px;
}
